.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  .modal {
    width: calc(100vw - 30px);
    height: 609px;
    background: $genbgcol;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: right;
    transform: scale(1);
    opacity: 1;
    visibility: 1;
    pointer-events: initial;
    transition: transform 500ms ease;
    transform: scale(1);
    .modal-x-button {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background: $genbgcol;
      padding: 0;
      margin-top: 8px;
      margin-right: 8px;
      cursor: pointer;
      .modal-x-icon {
        fill: #000;
        padding: 3px 3px 4px 4px;
        margin: 6px;
        display: block;
      }
    }
    .comment-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 40px 40px 40px;
      & h2 {
        margin-bottom: 12px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $genfontcol;
      }
      &__label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $secfontcol;
        position: relative;

        &__input {
          border: 1px solid rgba(33, 33, 33, 0.2);
          border-radius: 4px;
          width: 77vw;
          height: 40px;
          box-sizing: border-box;
          margin-top: 4px;
          padding: 12px 42px;
        }
        .input-icon {
          position: absolute;
          visibility: visible;
          bottom: 11px;
          left: 12px;
          fill: $genfontcol;
        }
        &__input:focus,
        &__input:active {
          border-color: $genactivecol;
          outline: none;
          transition: $slowmo;
        }
        &:active .input-icon {
          fill: $genactivecol;
          transition: $slowmo;
        }
        &__input:focus + .input-icon {
          fill: $genactivecol;
          transition: $slowmo;
        }
      }
      &__input--textarea {
        width: 77vw;
        height: 120px;
        padding: 12px 16px;
        box-sizing: border-box;
        margin-top: 4px;
        padding: 12px 16px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
      }
      &__input--textarea:focus,
      &__input--textarea:active {
        border-color: $genactivecol;
        outline: none;
        transition: $slowmo;
      }
      &__input--textarea:focus::placeholder,
      &__input--textarea:active::placeholder {
        color: $genactivecol;
        transition: $slowmo;
      }
      &__label--reg-checkbox {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $secfontcol;
        margin-bottom: 30px;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        & a {
          color: $genactivecol;
        }
      }
      &__input--reg-checkbox {
        margin-right: 4px;
        visibility: hidden;
      }

      .icon-unchecked {
        position: absolute;
        transform: translate(-140%, 25%);
        opacity: 1;
        transition: $slowmo;
      }
      .icon-checked {
        position: absolute;
        z-index: 2;
        transform: translate(-140%, 25%);
        opacity: 0;
        transition: $slowmo;
      }
      &__input--reg-checkbox:checked + .icon-unchecked {
        opacity: 0;
      }
      &__input--reg-checkbox:checked ~ .icon-checked {
        opacity: 1;
      }
      &__submit-button {
        color: $genbgcol;
        background: $genactivecol;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        box-sizing: border-box;
        height: 50px;
        width: 200px;
      }
    }
  }
}
