.site-nav {
  border-bottom: 1px solid #ececec;
  .nav-box {
    display: flex;
    flex-direction: column;
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & button {
        padding: 0;
      }
      .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $genactivecol;
        text-decoration: none;

        &--bicolor {
          color: #000;
        }
      }
      &-list {
        display: none;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        margin-left: 70px;

        &__nav-items {
          list-style: none;
          text-decoration: none;
          margin: 0 23px;
        }
      }

      &-list__nav-items--list-style {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        list-style: none;
      }
      &-list__nav-items--list-style:hover {
        color: $genactivecol;
        transition: $slowmo;
      }
      &-list__nav-items----list-style:focus {
        color: $genactivecol;
        outline: none;
        transition: $slowmo;
      }

      &-list__nav-items--link-color:link,
      &-list__nav-items--link-color:visited {
        color: $genfontcol;
      }
      &-list__nav-items--link-color:hover {
        color: $genactivecol;
        transition: $slowmo;
      }
      &-list__nav-items--link-color:focus {
        color: $genactivecol;
        outline: none;
        transition: $slowmo;
      }
      &-list__nav-items--underline-active:link::after,
      &-list__nav-items--underline-active:visited::after {
        content: "";
        height: 4px;
        display: block;
        width: 100%;
        background-color: $genactivecol;
        border-radius: 2px;
        position: relative;
        top: 30px;
        color: $genactivecol;
      }
      &-list__nav-items--underline-active:link,
      &-list__nav-items--underline-active:visited {
        color: $genactivecol;
      }
    }
    .nav-contact-list {
      display: none;
      flex-wrap: wrap;
      gap: 50px;
      align-items: center;
      padding-right: 12px;

      .contact-items {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $secfontcol;
        text-decoration: none;
        fill: currentColor;

        &__contact-icon {
          fill: currentColor;
          display: inline-flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;
          vertical-align: middle;
          padding-right: 10px;
        }
      }
      .contact-items:hover {
        color: $genactivecol;
        fill: currentColor;
        transition: $slowmo;
      }
      .contact-items:focus {
        color: $genactivecol;
        fill: currentColor;
        outline: none;
        transition: $slowmo;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .nav-box {
    padding: 21px 0 21px;
    .nav-links {
      flex-direction: row;
      justify-content: space-between;

      &-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 46px;
        margin-left: 93px;
      }
    }

    .nav-contact-list {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact-list {
    flex-direction: row;
    align-items: center;
  }
}
