.pictures-list-items {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
  & li {
    list-style: none;
    width: 370px;
    height: 294px;
    .section-two-image-grid {
      position: relative;
      display: flex;
      &__images-grid-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-transform: uppercase;
        text-align: center;
        background: rgba(47, 48, 58, 0.8);
        color: $genbgcol;
        padding: 27px 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
      }
    }
  }
}
