.section-two {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .display-style {
    max-width: 450px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;

    &__adventages-icons {
      padding: 25px 0;
      background-color: $secbgcol;
      margin-bottom: 30px;
      border-radius: 4px;

      text-align: center;
    }

    .header-three {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center;
    }
    &__paragraph-lorem {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $secfontcol;
      text-align: justify;
    }
  }
  @media screen and (min-width: 768px) {
    .display-style {
      max-width: 100vh;
      .display-style__adventages-icons {
        max-width: 354px;
      }
      .display-style__paragraph-lorem {
        max-width: 354px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .display-style {
      max-width: 1200px;
      .display-style__adventages-icons {
        max-width: 270px;
      }
      .display-style__paragraph-lorem {
        max-width: 270px;
      }
    }
  }
}
