.our-client-box {
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    @media (min-width: 768px) {
      width: 100%;
    }
    @media (min-width: 1200px) {
      flex-wrap: nowrap;
    }
    &__icons {
      list-style: none;
      fill: $thirdfontcol;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: calc((100% - 30px) / 2);
      @media (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 3);
      }
      @media (min-width: 1200px) {
        width: 170px;
      }

      &__button {
        border: 1px solid $thirdfontcol;
        border-radius: 4px;
        background-color: $genbgcol;
        padding: 16px 0;
        width: 100%;
        text-align: center;
      }
      &__button:hover {
        fill: $genactivecol;
        cursor: pointer;
        border-color: $genactivecol;
        transition: $slowmo;
      }
      &__button:focus {
        fill: $genactivecol;
        cursor: pointer;
        border-color: $genactivecol;
        outline: none;
        transition: $slowmo;
      }
    }
  }
}
