.our-team-box {
  padding: 60px;
  background: $secbgcol;
  .display-style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    box-sizing: border-box;
  }
  .work-position {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secfontcol;
    text-decoration: none;

    .team-figure-box {
      background: $genbgcol;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      padding-bottom: 30px;
      width: calc(100vw - 30px);
      .social-media-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        list-style: none;
        &__social-media-list {
          color: $thirdfontcol;
          padding: 12px 12px;
          border: 1px solid $genbgcol;
          border-radius: 50%;
          margin-top: 16px;
          gap: 10px;
          display: block;
          &--social-media-icon {
            display: block;
            fill: currentColor;
          }
        }
        &__social-media-list:hover {
          color: $genbgcol;
          background-color: $genactivecol;
          cursor: pointer;
          transition: $slowmo;
        }
        &__social-media-list:focus {
          color: $genbgcol;
          background-color: $genactivecol;
          cursor: pointer;
          outline: none;
          transition: $slowmo;
        }
      }
    }
  }
}
