.our-client-box {
  padding: 60px 15px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    @media (max-width: 768px) {
      max-width: 450px;
    }
    @media (min-width: 768px) {
      max-width: 738px;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;
    }
    &__icons {
      list-style: none;
      fill: $thirdfontcol;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &__button {
        border: 1px solid $thirdfontcol;
        border-radius: 4px;
        background-color: $genbgcol;
        padding: 16px 0;
        width: calc((100vw / 2) - 30px);
        max-width: 210px;
        text-align: center;
        @media (min-width: $tb-size) {
          max-width: 226 px;
        }
        @media (min-width: $dt-size) {
          max-width: 170px;
        }
      }
      &__button:hover {
        fill: $genactivecol;
        cursor: pointer;
        border-color: $genactivecol;
        transition: $slowmo;
      }
      &__button:focus {
        fill: $genactivecol;
        cursor: pointer;
        border-color: $genactivecol;
        outline: none;
        transition: $slowmo;
      }
    }
  }
}
